.header{
	padding: 12px 14px 19px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.user-info{
	display: flex;
	align-items: center;
	font-weight: 700;
	color: $gray2;
	font-size: 14px;

		@include media('>=phone'){
			font-size: 17px;
		}

	a{
		color: inherit;

		&:hover{
			color: $gray3;
		}
	}
}

.user-avatar{
	display: block;
	width: 41px;
	height: 41px;
	background-color: $white;
	border-radius: 100%;
	overflow: hidden;
	margin-left: 14px;

	img{
		display: block;
		width: 100%;
		height: 100%;
	}
}

.noti-list{
	@extend %listreset;
	color: $gray3;
	font-size: 20px;
	padding-left: 11px;

	li{
		display: inline-block;
		vertical-align: middle;
		padding-left: 21px;

		&:last-child{
			padding-left: 0;
		}

		&.alert{
			position: relative;
			@include pseudo(after, -2px, -9px, auto, auto);

			&:after{
				@include size(8px);
				background-color: $red;
				border-radius: 100%;
			}
		}
	}

	a{
		color: inherit;

		&:hover{
			color: $black;
		}
	}
}

html[dir="ltr"]{
	.user-avatar{
		margin-left: 0;
		margin-right: 14px;
	}

	.noti-list{
		padding-left: 0;
		padding-right: 11px;

		li{
			padding-left: 0;
			padding-right: 21px;

			&:last-child{
				padding-right: 0;
			}

			&.alert{
				@include pseudo(after, -2px, auto, auto, -9px);
			}
		}
	}
}